<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (String.IsNullOrWhiteSpace(ViewBag.PageTitle))
    {
        <title>@ViewBag.Title - VEX Team Network</title>
    }
    else
    {
        <title>@ViewBag.PageTitle</title>
    }
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img alt="VTN" src="~/Content/vtn_logo.png" />
                </a>
            </div>

            <a class="navbar-quicklink" href="@Url.Action("Index", "Teams")">
                <span class="glyphicon glyphicon-user" />
            </a>

            <button id="loginToggle" type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#login-partial">
                <span class="sr-only">Toggle User Panel</span>
                <span class="glyphicon glyphicon-user" />
            </button>
            <div id="login-partial" class="collapse">
                @Html.Partial("_LoginPartial")
            </div>

            <div id="search-navbar" class="navbar-search" aria-expanded="false">
                <input class="navbar-search-input" type="text" id="searchInput" name="siteSearch" placeholder="Search">
                <span class="navbar-search-button">
                    <button id="searchButton" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>

            <div class="vtn-breadcrumbs">
                <ol class="breadcrumb">
                    @if (ViewBag.Breadcrumbs != null)
                    {
                        foreach (MvcHtmlString crumb in ViewBag.Breadcrumbs)
                        {
                            <li>@crumb</li>
                        }
                    }
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VEX Team Network</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
