@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
        @if(!String.IsNullOrWhiteSpace(ViewBag.PageTitle))
{@ViewBag.PageTitle
}
else
{
    @String.Concat(ViewBag.Title, " - ", AppSettings.Options.SiteTitle)
}
</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme.css" />
            <link rel="stylesheet" href="~/lib/normalize.css/normalize.css" />
            <link rel="stylesheet" href="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css"/>
            <link rel="stylesheet" href="~/font-awesome-4.3.0/font-awesome-4.3.0/css/font-awesome.css" />
            <link rel="stylesheet" href="~/css/bootswatch.css"/>
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/bootstrap/css/bootstrap-theme.min.css" />
            <link rel="stylesheet" href="~/lib/furtive/css/furtive.css" />
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css"
                  asp-fallback-href="~/lib/normalize.css/normalize.css"
                  asp-fallback-test-class="img" asp-fallback-test-property="border" asp-fallback-test-value="0" />
            <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css"
                  asp-fallback-href="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"
                  asp-fallback-test-class="mCustomScrollbar" asp-fallback-test-property="touch-action" asp-fallback-test-value="none" />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
                  asp-fallback-href="~/font-awesome-4.3.0/font-awesome-4.3.0/css/font-awesome.min.css"
                  asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block"/>
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        @RenderSection("styles", required: false)
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand vtn-banner" asp-controller="Home" asp-action="Index">
                        <img src="~/images/vtn_banner.png" />
                    </a>
                    <p class="navbar-brand page-title">@ViewBag.Title</p>
                </div> <!-- navbar-header -->

                <div class="navbar-collapse collapse" id="navbar-menu">
                    <form class="navbar-form navbar-right navbar-search" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="reset" class="btn btn-default">
                                    <i class="fa fa-times">
                                        <span class="sr-only">Close</span>
                                    </i>
                                </button>
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search">
                                        <span class="sr-only">Search</span>
                                    </i>
                                </button>
                            </span>
                        </div>
                    </form>
                    @await Html.PartialAsync("_LoginPartial")
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="Teams" asp-action="Index">Teams</a></li>
                        <li><a asp-controller="Competitions" asp-action="Index">Events</a></li>
                    </ul>
                    
                </div> <!-- /quick-links -->
            </div> <!-- /container -->
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - @AppSettings.Options.SiteTitle</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/jquery.js"></script>
            <script src="~/bootstrap/js/bootstrap.js"></script>
            <script src="~/lib/modernizr/modernizr.js"></script>
            <script src="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"
                    asp-fallback-src="~/lib/jquery/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
                    asp-fallback-src="~/lib/foundadtion/js/vendor/modernizr.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"
                    asp-fallback-src="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"
                    asp-fallback-test="window.jQuery"></script>
            <script src="~/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        @RenderSection("scripts", required: false)
        <script>
            (function($){
                $(window).load(function(){
                    $(".page-title").mCustomScrollbar({
                        axis: "x",
                        theme:"minimal-dark",
                        autoExpandScrollbar: true,
                        advanced:{autoExpandHorizontalScroll:true},
                        scrollInertia: 5,
                        mouseWheel: {
                            deltaFactor: 10
                        }
                    });
                });
            })(jQuery);
        </script>
    </body>
</html>
