@model VexTeamNetwork.Models.Team
@using VexTeamNetwork.Models;
@using VexTeamNetwork.Controllers.MVC;

@{
    ViewBag.Title = Model.Number + " - " + Model.TeamName;
    ViewBag.Breadcrumbs = new List<MvcHtmlString>();
    ViewBag.Breadcrumbs.Add(Html.ActionLink("Teams", "Index"));
}

@Styles.Render("~/Content/TeamDetails.css")

<div class="team-details">

    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TeamName)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.TeamName)
                </div>
                <div class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RobotName)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.RobotName)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Organization)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Organization)
                </div>
                <div class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Location)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Grade)
                </div>
                <div class="col-sm-4">
                    @Model.Grade.GetDisplayAttribute(g => g.GetName())
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>